<script>
	import Navbar from './navbar.svelte';
	import SearchBox from './SearchBox.svelte';
    import CelularCard from './CelularCard.svelte'; 
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<header>
	<Navbar />
</header>
<body>
	<br />
	<SearchBox />
    <CelularCard />
    <CelularCard />
    <CelularCard />
    <CelularCard />
    <CelularCard />
    <CelularCard />
    <CelularCard />
</body>
