<script>
  let celulares = [
    { nombre: 'iPhone 13', precio: 999, imagen: 'iphone13.jpg' },
    { nombre: 'Samsung Galaxy S21', precio: 799, imagen: 'galaxys21.jpg' },
    { nombre: 'Google Pixel 6', precio: 699, imagen: 'pixel6.jpg' },
  ];
</script>

<div class="card-container">
  {#each celulares as celular (celular.nombre)}
    <div class="card">
     <img src="{celular.imagen}" alt="{celular.nombre}" />.
      <h3>{celular.nombre}</h3>
      <p>Precio: ${celular.precio}</p>
    </div>
  {/each}
</div>

<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    width: 250px;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
