<!-- Navbar.svelte -->
<style>
  nav {
    background-color: #333;
    display: flex;
    justify-content: space-between; /* Alinea el logo a la izquierda y los enlaces a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 10px;
  }

  .navbar a {
    color: white;
    font-weight: bold;
    margin-left: 50px; /* Espacio entre los enlaces */
  }

  .logo {
    color: white;
    font-size: 24px; /* Tamaño del logotipo */
    font-weight: bold; /* Estilo del logotipo */
  }
</style>

<nav>
  <a class="logo" href="#">Los seguidores de Tanta</a> <!-- Reemplaza "TuLogo" con el nombre de tu sitio o tu logotipo -->
  <div class="navbar">
    <a href="#">Celulares</a>
    <a href="#">Laptos</a>
    <a href="#">Computadoras</a>
    <a href="#">Smartwatch</a> <!-- Agrega más enlaces según sea necesario -->
    <a href="#">Ipad</a>
    <a href="#">Tablets</a>
    <a href="#">Cover</a>
    <a href="#">Moda</a>
    <a href="#">Otros</a>
  </div>
</nav>
