<!-- SearchBox.svelte -->
<script lang="ts">
    let searchTerm = '';
  
    function search() {
      
      console.log('Búsqueda de productos con el término:', searchTerm);
    }
  </script>
  
  <div class="search-box">
    <div class="search-input">
      <input type="text" bind:value={searchTerm} placeholder="Buscar Productos">
      <button on:click={search}>Buscar</button>
    </div>
  </div>
  
  <style>
    .search-box {
        
      display: flex;
      align-items: center;
      justify-content: flex-end; 
    }
  
    .search-input {
        
      display: flex; 
      align-items: center;
    }
  
    input {
      font-weight: bold;
      padding: 10px; 
      margin-right: 10px;
      font-size: 16px; 
    }
  
    button {
    background-color: #333;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px; 
    margin-right: 10px; 
  }
  </style>
  